<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <title>Video Game Global Sales Prediction</title>
  </head>
  <body class="bg-light">
    <div class="container py-5">
      <h1 class="mb-5">Video Game Global Sales Prediction</h1>
      <form action="/predict" method="post">
        <div class="form-group">
          <label for="plt">Platform</label>
          <select id="plt" name="plt" class="form-control">
            <option value="7">X360</option>
            <option value="2">PS3</option>
            <option value="8">XB</option>
            <option value="0">PC</option>
            <option value="5">Wii</option>
            <option value="4">PSP</option>
            <option value="3">PS4</option>
            <option value="1">PS</option>
            <option value="9">Xone</option>
            <option value="6">WiiU</option>
          </select>
        </div>
  

<div class="form-group">
          <label for="yor">Year of Release</label>
          <select id="yor" name="yor" class="form-control">
            <option value="2005">2005</option>
            <option value="2006">2006</option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
          </select>
        </div>     


        <div class="form-group">
          <label for="gen">Genre</label>
          <select id="gen" name="gen" class="form-control">
            <option value="0">Action</option>
            <option value="10">Sports</option>
            <option value="8">Shooter</option>
            <option value="6">Racing</option>
            <option value="7">Role-Playing</option>
          </select>
        </div>
        <div class="form-group">
          <label for="pub">Publisher</label>
          <select id="pub" name="pub" class="form-control">
            <option value="57">Electronic Arts</option>
            <option value="9">Activision</option>
            <option value="225">Ubisoft</option>
            <option value="150">Nintendo</option>
          </select>
        </div>
        <div class="form-group">
          <label for="Critic_Score">Critic Score</label>
          <input type="number" id="Critic_Score" name="Critic_Score" class="form-control" placeholder="Between 1 and 100" required>
        </div>
        <div class="form-group">
          <label for="Critic_Count">Critic Count</label>
          <input type="number" id="Critic_Count" name="Critic_Count" class="form-control" placeholder="Between 1 and 100" required>
        </div>
        <div class="form-group">
          <label for="User_Score">User Score</label>
          <input type="number" id="User_Score" name="User_Score" class="form-control" placeholder="Between 1 and 100" required>
        </div>
        <div class="form-group">
          <label for="Rating">Rating</label>
          <select id="Rating" name="Rating" class="form-control">
            <option value="6">T</option>
            <option value="1">E</option>
            <option value="4">M</option>
            <option value="2">E10+</option>
          </select>
        </div>
        <div class="form-group">
          <label for="NA_Sales">NA Sales <span style="opacity: 0.5; font-size: 0.8em; font-style: italic;">(in millions)</span></label>
<input type="number" step="0.000001" min="0" max="1000000000"id="NA_Sales" name="NA_Sales" class="form-control" >

        </div>
        <div class="form-group">
  <label for="EU_Sales">EU Sales <span style="opacity: 0.5; font-size: 0.8em; font-style: italic;">(in millions)</span></label>
  <input type="number" step="0.000001" min="0" max="1000000000" id="EU_Sales" name="EU_Sales" class="form-control" >
</div>
<div class="form-group">
  <label for="JP_Sales">JP Sales <span style="opacity: 0.5; font-size: 0.8em; font-style: italic;">(in millions)</span></label>
  <input type="number" step="0.000001" min="0" max="1000000000" id="JP_Sales" name="JP_Sales" class="form-control" >
<div class="form-group">
  <label for="Other_Sales">Other Sales <span style="opacity: 0.5; font-size: 0.8em; font-style: italic;">(in millions)</span></label>
  <input type="number" step="0.000001" min="0" max="1000000000" id="Other_Sales" name="Other_Sales" class="form-control" >
</div>

        <button type="submit" class="btn btn-primary mt-3">Predict</button>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
